alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.2
Django==2.1.5
djangorestframework==3.9.0
docutils==0.14
falcon==1.4.1
filelock==3.0.10
Flask==1.0.2
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
packaging==18.0
pluggy==0.8.1
py==1.7.0
Pygments==2.3.1
pyparsing==2.3.1
pytest==4.1.1
pytest-cov==2.6.1
python-mimeparse==1.6.0
pytz==2018.9
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.7.0
ujson==1.35
urllib3==1.24.1
virtualenv==16.2.0
Werkzeug==0.14.1
